<!doctype html>
<head>
<title>L'Interface</title>
<style>
* {
	font-family: Arial;
}

h1 {
	font-size: 14px;
	margin-bottom: 5px;
}

h2 {
	font-size: 16px;
}

h6 {
	font-size: 10px;
	margin: 0px;
	color: #7f7f7f;
}

p {
	margin: 1px 0px;
	line-height: 18px;
	font-size: 12px;
}

a {
	color: #bf311a;
}
</style>
</head>
<body>
	<img src='http://interfaceets.files.wordpress.com/2014/02/cropped-logo-interface-3-final.png'></img>
	<h2>&Agrave; l'affiche cette semaine :</h2>
	{{ data | safe }}
</body>
</html>		